@charset "UTF-8";
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/
body {
  background-color: rgb(119, 199, 199);
}

.wrapper {
  width: 100vw;
  height: 100vh;
}

.container {
  position: relative;
  width: 130.1204819277vmin;
  padding: 1.8072289157vmin;
  margin: 0 auto;
  background-color: rgb(147, 243, 245);
  display: flex;
  justify-content: start;
}
@media (max-width: 1080px) {
  .container {
    width: 100vw;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}

.white {
  width: 100%;
  background-color: rgb(190, 240, 240);
  padding: 5px;
  display: grid;
  place-items: center;
}
.white:hover {
  cursor: pointer;
}

.whiteEl {
  width: 80%;
  height: 80%;
  border-radius: 50%;
  border: 1.2048192771vmin solid #000;
  display: grid;
  place-items: center;
}

.whiteCenter {
  width: 25%;
  height: 25%;
  border-radius: 50%;
  background-color: #000;
}

.black {
  width: 100%;
  background-color: rgb(1, 57, 57);
  color: #fff;
  padding: 5px;
  display: grid;
  place-items: center;
}

.blackEl {
  width: 80%;
  height: 80%;
  border-radius: 50%;
  background-color: rgb(0, 0, 0);
  display: grid;
  place-items: center;
}

.blackCenter {
  width: 20%;
  height: 20%;
  border-radius: 50%;
  background-color: rgb(190, 240, 240);
  display: grid;
  place-items: center;
}

.lighted {
  background-color: rgb(196, 201, 160);
}

.selected {
  background-color: rgb(214, 232, 95);
}

.qween {
  border: 0.7228915663vmin solid rgb(232, 129, 81);
}

.board {
  border: 4px solid rgb(1, 57, 57);
  padding: 2px;
  width: 88vmin;
  height: 88vmin;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(8, 1fr);
}
@media (max-width: 767px) {
  .board {
    width: 95vmin;
    height: 95vmin;
  }
}

.rotate-btn,
.new__game,
.move-back {
  width: 16.8674698795vmin;
  background-color: rgb(2, 63, 63);
  font-size: 2.8915662651vmin;
  line-height: 2;
  color: #fff;
  letter-spacing: 2px;
}
@media (max-width: 1080px) {
  .rotate-btn,
.new__game,
.move-back {
    width: 18.0722891566vmin;
  }
}

.info {
  display: flex;
  width: 18.0722891566vmin;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}
@media (min-height: 830px) {
  .info {
    width: 20.4819277108vmin;
  }
}
@media (max-width: 1080px) {
  .info {
    flex-direction: row;
    -moz-column-gap: 20px;
         column-gap: 20px;
    align-items: stretch;
    width: 88vmin;
    justify-content: space-between;
    padding: 10px 0;
  }
  .info .white-block {
    display: flex;
    flex-direction: column-reverse;
  }
}
@media (max-width: 767px) {
  .info {
    width: 95vmin;
  }
}

/*
.white-block,
.black-block {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}*/
.center {
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  row-gap: 1.8072289157vmin;
  padding: 10px 0;
}

.rotate {
  transform: rotate(180deg);
}
.rotate_info {
  flex-direction: column;
}
@media (max-width: 1080px) {
  .rotate_info {
    flex-direction: row-reverse;
  }
}

/*.rotate-block {
  flex-direction: column-reverse;
}*/
.move {
  padding: 10px;
  width: 100%;
  font-size: 2.8915662651vmin;
  align-content: center;
  text-align: center;
  text-transform: uppercase;
}

.colorChange {
  background-color: rgb(190, 240, 240);
  color: rgb(1, 57, 57);
}

.white__least,
.black__least {
  width: 6.0240963855vmin;
  height: 6.0240963855vmin;
  font-size: 3.3734939759vmin;
  border-radius: 50%;
  border: 3px solid rgb(190, 240, 240);
  margin-bottom: 10px;
  display: grid;
  place-items: center;
}

.white__least {
  border-color: rgb(1, 57, 57);
  margin-top: 10px;
}

.black__timer,
.white__timer {
  width: 100%;
  display: flex;
  justify-content: center;
  font-size: 3.3734939759vmin;
  padding: 5px;
  border: 0.7228915663vmin solid rgb(1, 57, 57);
  letter-spacing: 2px;
}
.black__timer_seconds,
.white__timer_seconds {
  padding-left: 3px;
  letter-spacing: 4px;
}
.black__timer_minutes,
.white__timer_minutes {
  letter-spacing: 4px;
}

.black__timer {
  border-color: rgb(190, 240, 240);
}

.border {
  border-color: rgb(232, 129, 81);
}

.move__black,
.move__white {
  opacity: 0;
}

.annotation {
  background-color: rgb(166, 237, 245);
  height: 88vmin;
  width: 16.8674698795vmin;
  font-size: 2.6506024096vmin;
  padding: 5px;
  margin-left: 10px;
  line-height: 1.2;
  overflow: hidden;
}
@media (max-width: 1080px) {
  .annotation {
    width: 88vmin;
    height: auto;
    padding-top: 20px;
    margin: 0;
  }
}
@media (max-width: 767px) {
  .annotation {
    width: 95vmin;
  }
}

.annotation__title {
  margin-bottom: 10px;
  text-align: center;
}

.annotation__content {
  overflow: auto;
  height: 75vmin;
}
@media (max-width: 1080px) {
  .annotation__content {
    display: flex;
    flex-wrap: wrap;
    height: auto;
  }
  .annotation__content p {
    padding-right: 30px;
  }
}

.end {
  position: absolute;
  width: 85vmin;
  height: 30%;
  left: 50%;
  top: 20%;
  transform: translateX(-50%);
  display: none;
}

.end__text {
  width: 100%;
  height: 100%;
  font-size: 7.2289156627vmin;
  background-color: rgb(1, 57, 57);
  border: 10px solid rgb(232, 129, 81);
  color: #fff;
  text-align: center;
  padding-top: 60px;
}

.show__end {
  display: block;
  z-index: 99;
}

.footer {
  background-color: rgb(119, 199, 199);
}

.footer__wrapper {
  width: 130.1204819277vmin;
  margin: 0 auto;
  padding: 10px 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff;
  font-size: 2.1686746988vmin;
}
@media (max-width: 1080px) {
  .footer__wrapper {
    width: 100vw;
  }
}

.footer__contact,
.footer__text {
  display: flex;
  flex-direction: column;
  color: #fff;
  gap: 5px;
  letter-spacing: 2px;
}

.footer__contact a {
  color: #fff;
}