.footer {
  background-color: rgb(119, 199, 199);
}

.footer__wrapper {
  width: fs(1080px);
  margin: 0 auto;
  padding: 10px 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff;
  font-size: fs(18px);
  @media (max-width: 1080px) {
    width: 100vw;
  }
}
.footer__contact,
.footer__text {
  display: flex;
  flex-direction: column;
  color: #fff;
  gap: 5px;
  letter-spacing: 2px;
}
.footer__contact a {
  color: #fff;
}
