@import "nullstyle";

@function fs($value, $base: 830px) {
  @return $value * 100vmin / $base;
}

body {
  background-color: rgb(119, 199, 199);
}
.wrapper {
  width: 100vw;
  height: 100vh;
}

.container {
  position: relative;
  width: fs(1080px);
  padding: fs(15px);
  margin: 0 auto;
  background-color: rgb(147, 243, 245);
  //height: 100%;
  display: flex;
  justify-content: start;

  @media (max-width: 1080px) {
    width: 100vw;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}

.white {
  width: 100%;
  background-color: rgb(190, 240, 240);
  padding: 5px;
  display: grid;
  place-items: center;
  &:hover {
    cursor: pointer;
  }
}

.whiteEl {
  width: 80%;
  height: 80%;
  border-radius: 50%;
  border: fs(10px) solid #000;
  display: grid;
  place-items: center;
}

.whiteCenter {
  width: 25%;
  height: 25%;
  border-radius: 50%;
  background-color: #000;
}

.black {
  width: 100%;
  background-color: rgb(1, 57, 57);
  color: #fff;
  padding: 5px;
  display: grid;
  place-items: center;
}

.blackEl {
  width: 80%;
  height: 80%;
  border-radius: 50%;
  background-color: rgb(0, 0, 0);
  display: grid;
  place-items: center;
}

.blackCenter {
  width: 20%;
  height: 20%;
  border-radius: 50%;
  background-color: rgb(190, 240, 240);
  display: grid;
  place-items: center;
}

.lighted {
  background-color: rgb(196, 201, 160);
}
.selected {
  background-color: rgb(214, 232, 95);
}
.qween {
  border: fs(6px) solid rgb(232, 129, 81);
}
.board {
  border: 4px solid rgb(1, 57, 57);
  padding: 2px;
  width: 88vmin;
  height: 88vmin;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(8, 1fr);
  @media (max-width: 767px) {
    width: 95vmin;
    height: 95vmin;
  }
}
.rotate-btn,
.new__game,
.move-back {
  width: fs(140px);
  //height: 40px;
  background-color: rgb(2, 63, 63);
  font-size: fs(24px);
  line-height: 2;
  color: #fff;
  letter-spacing: 2px;
  @media (max-width: 1080px) {
    width: fs(150px);
  }
}

.info {
  display: flex;
  width: fs(150px);
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  //transform: rotateY(180deg);

  @media (min-height: 830px) {
    width: fs(170px);
  }
  @media (max-width: 1080px) {
    flex-direction: row;
    column-gap: 20px;
    align-items: stretch;
    width: 88vmin;
    justify-content: space-between;
    padding: 10px 0;

    .white-block {
      display: flex;
      flex-direction: column-reverse;
    }
  }
  @media (max-width: 767px) {
    width: 95vmin;
  }
}
/*
.white-block,
.black-block {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}*/
.center {
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  row-gap: fs(15px);
  padding: 10px 0;
}
.rotate {
  transform: rotate(180deg);

  @media (max-width: 1080px) {
  }
}
.rotate_info {
  flex-direction: column;
  @media (max-width: 1080px) {
    flex-direction: row-reverse;
  }
}
/*.rotate-block {
  flex-direction: column-reverse;
}*/
.move {
  padding: 10px;
  width: 100%;
  font-size: fs(24px); // 40px;
  align-content: center;
  text-align: center;
  text-transform: uppercase;
}

.colorChange {
  background-color: rgb(190, 240, 240);
  color: rgb(1, 57, 57);
}
.white__least,
.black__least {
  width: fs(50px);
  height: fs(50px);
  font-size: fs(28px);
  border-radius: 50%;
  border: 3px solid rgb(190, 240, 240);
  margin-bottom: 10px;
  display: grid;
  place-items: center;
  //text-align: center;
}
.white__least {
  border-color: rgb(1, 57, 57);
  margin-top: 10px;
  //margin-bottom: 0;
}
.black__timer,
.white__timer {
  width: 100%;
  display: flex;
  justify-content: center;
  font-size: fs(28px);
  padding: 5px;
  border: fs(6px) solid rgb(1, 57, 57);
  letter-spacing: 2px;

  &_seconds {
    padding-left: 3px;
    letter-spacing: 4px;
  }
  &_minutes {
    letter-spacing: 4px;
  }
}
.black__timer {
  border-color: rgb(190, 240, 240);
}
.border {
  border-color: rgb(232, 129, 81);
}

.move__black,
.move__white {
  opacity: 0;
}

.annotation {
  background-color: rgb(166, 237, 245);
  height: 88vmin;
  width: fs(140px);
  font-size: fs(22px);
  padding: 5px;
  margin-left: 10px;
  line-height: 1.2;
  overflow: hidden;
  @media (max-width: 1080px) {
    width: 88vmin;
    height: auto;
    padding-top: 20px;
    margin: 0;
  }
  @media (max-width: 767px) {
    width: 95vmin;
  }
}
.annotation__title {
  margin-bottom: 10px;
  text-align: center;
}

.annotation__content {
  overflow: auto;
  height: 75vmin;
  @media (max-width: 1080px) {
    display: flex;
    flex-wrap: wrap;
    height: auto;
    & p {
      padding-right: 30px;
    }
  }
}

.end {
  position: absolute;
  width: 85vmin;
  height: 30%;
  left: 50%;
  top: 20%;
  transform: translateX(-50%);
  display: none;
}

.end__text {
  width: 100%;
  height: 100%;
  font-size: fs(60px);
  background-color: rgb(1, 57, 57);
  border: 10px solid rgb(232, 129, 81);
  color: #fff;
  text-align: center;
  padding-top: 60px;
}

.show__end {
  display: block;
  z-index: 99;
}
@import "footer";
